<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<div class='container'>
    <br>
    <div class="card">
        <div class="card-header">
            <h1>Cadastro de Clientes:</h1>
        </div>
        <div class="card-body">
            <form action="/clientes/novoCliente" method="post">
                <label for="">Nome:</label>
                <input type="text" name="nome" id="nome" class="form-control" required><br>
                <label for="">CPF:</label>
                <input type="text" name="cpf" id="cpf" class="form-control" required><br>
                <label for="">Endereço</label>
                <input type="text" name="endereco" id="endereco" class="form-control" required><br>
                <button class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>

    <br>
    <h2 class="text-center">Lista de Clientes:</h2><br>
        <table class="table table-hover">
            <thead>
            <tr class="bg-success">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col" colspan="2" style="text-align:auto;">Ações:</th>
            </tr>
            </thead>
            <tbody>
            <% let i = 1 %>
            <% listaClientes.forEach(cliente =>{ %>
            <tr>
                <th scope="row"><%= i %></th>
                <td><%= cliente.nome %></td>
                <td><%= cliente.cpf %></td>
                <td><%= cliente.endereco %></td>
                <td>
                    <a href="/clientes/excluir/<%=cliente._id%>" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir o registro de <%=cliente.nome%>?')">Excluir</a>
                    <a href="/clientes/editar/<%=cliente._id%>" class="btn btn-info">Editar</a>
                </td>
            </tr>
            <% i++; %>
            <% }) %>
            </tbody>
        </table>
        
        </div>
<br>

<%- include('partials/footer.ejs') %> 